<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>FilimoPlus</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="styles.46c084e3beb95bf818fe.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.d4641c3ca242e5d0af97.js" type="module"></script><script src="runtime-es5.d4641c3ca242e5d0af97.js" nomodule defer></script><script src="polyfills-es5.ad6afa48c1bdb7695cca.js" nomodule defer></script><script src="polyfills-es2015.d4edb48c4a90e55db413.js" type="module"></script><script src="main-es2015.77595217718195360ca3.js" type="module"></script><script src="main-es5.77595217718195360ca3.js" nomodule defer></script></body>
</html>
