@use "@material/dialog/mdc-dialog";
@import "../../mixin";

@include dialog();

.no-items-found {
  position: absolute;
  right: 0;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}

.container {
  .row {
    min-height: 215px;
    margin-top: 8px;
    margin-bottom: 8px;
    &:first-child {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
    //
    &.disable {
      opacity: 0.5;
    }
    //
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:last-child {
      padding-bottom: 0;
      border-bottom: unset;
    }
    //
    .image {
      max-width: 100%;
      border-radius: 5px;
    }
    //
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
    //
    .quality {
      span {
        &:first-child {
          color: #fdc13c;
        }
      }
    }
    //
    .dl-box {
      a {
        margin-left: 5px;
        &:last-child {
          margin-left: 0;
        }
      }
      button {
        min-width: 100px;
      }
    }
    //
    .progress {
      margin-top: 15px;
      direction: ltr;
      .progress-bar {
        user-select: none;
      }
    }
  }
}

.movie-image-container {
  display: inline-block;
  min-height: 100px;
  position: relative;
  &:hover .overlay {
    display: block;
  }
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(41, 41, 41, 0.7);
    transition: opacity 0.1s;
    .match-parent {
      position: relative;
      .play-icon {
        text-align: center;
        position: absolute;
        top: calc(50% - 24px);
        right: 0;
        left: 0;
        z-index: 2;
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
