<app-toolbar></app-toolbar>
<div class="body vertical-padding" #scrollContainer>
  <ng-container
    *ngFor="let list of tag.lists">
    <app-grid [includeTagLink]="tag.multiSection"
              [list]="list"></app-grid>
  </ng-container>
  <app-infinite-scroll *ngIf="scrollContainer"
                       [container]="scrollContainer"
                       [disable]="infiniteScroll.disable"
                       [callback]="infiniteScroll.callback"
                       [(loading)]="infiniteScroll.loading"></app-infinite-scroll>
</div>
